body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 span {
    font-weight: bold;
}

#wave{
    width: 1024px;
    height: 104px;
    flex-shrink: 0;
    margin: center;
}



h1{
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
}


p{  
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #828282;
    line-height: 22px;
    font-weight: 400;
    margin-left: 100px;

    flex-shrink: 0;
}

#a{
    color: #3F3D56;
}

span{
    color: #EE24FF
}

#span2{
    color:#828282;
}


strong {
    color: rgb(76, 55, 120)
}

