h1{
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    margin-left: 72px;
    text-align: justify;
}

h1 span {
    
    font-weight: bold;
}

 strong + strong {
    margin-left: 28px;
    border:#EE24FF;
}


body {
text-align: center;
font-family: 'Open Sans', sans-serif;
}

#globo{
    width: 592px;
    margin: auto;

}

#globo img{
    margin-bottom: 0 auto 172px 0px;
}

p , h3{  
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #828282;
    line-height: 32px;
    font-weight: 400px;
    text-align: center;
}

#a{
    color: rgb(222, 150, 208);
}

span{
    color: #EE24FF
    
}


strong {
    color: rgb(76, 55, 120)
}

